* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: #d3ddaafa;
  }
  

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
